<h2>
Admin page
</h2>

<form action="/admin" method="POST" class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Login</label>
    <input type="text" name="admin_login" class="form-control" id="exampleInputEmail3" placeholder="Login">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" name="admin_password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>