<h2>
Contacts:
</h2>
<p>
You can contact with us :)<br>
</p>
<form action="/contacts" method="POST"class="form-inline">
<div class="form-group">
 <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" name="mail">
  </div>
  <br>
  <br>
<textarea name="user_text"></textarea>
 <button type="submit" class="btn btn-primary">Send message</button>
 </form>
