<h1>
Users
</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Mail</th>
			<th>Phone</th>
			<th>Date</th>
			<th>Barber</th>
			<th>Time</th>
		</tr>
	</thead>

<tbody>
	<% @results.each do |row| %>
		<tr>
			<td><%= row['Name'] %></td>
			<td><%= row['Email'] %></td>
			<td><%= row['Phone'] %></td>
			<td><%= row['Date'] %></td>
			<td><%= row['Barber'] %></td>
			<td><%= row['Time'] %></td>
		</tr>
	<% end %>
</tbody>
 </table>
