<h2>
Booking online!
</h2>
<p>
On this page you can choose everything!!!
</p>

<form action="/visit" method="POST" class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" name="user_name" class="form-control" id="exampleInputName2" placeholder="Ragnar Lodbrock" value="<%= @user_name %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" name="user_mail" class="form-control" id="exampleInputEmail2" placeholder="Odin@example.com" value="<%= @user_mail %>">
  </div>
  <div class="form-group">
    <label for="exampleInputPhone2">Phone</label>
    <input type="phone" name="user_phone" class="form-control" id="exampleInputPhone2" placeholder="099 999 99 99 "value="<%= @user_phone %>">
  </div>
  <div class="form-group">
    <label for="exampleInputDate2">Date</label>
    <input type="Date" name="user_date" class="form-control" id="exampleInputDate2" placeholder="13.14.2020 "value="<%= @user_date %>">
  </div>
  <div class="form-group">
    <label for="exampleInputTimer2">Time</label>
    <input type="Time" name="user_time" class="form-control" id="exampleInputTimer2" placeholder="13.14.2020 "value="<%= @user_time %>">
  </div>
  <br>
  <br>
<p> You can choose your Manager </p>
 <select class="form-control"name="barber1"value="<%= @barber1 %>">
  <!--<option <%= @barber1 == 'Walter White' ? 'selected' : '' %> >Walter White</option>
  <option <%= @barber1 == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
  <option <%= @barber1 == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option>
  <option <%= @barber1 == 'Alex Koleso' ? 'selected' : '' %>>Alex Koleso</option>
  <option <%= @barber1 == 'Ragnar Lodbrock' ? 'selected' : '' %> >Ragnar Lodbrock</option> -->

<% @barbers.each do |item| %>
  <option <%= @barber1 == item[1] ? 'selected' : ''%>><%= item[1] %></option>
  <% end %>

</select>
<div class="form-group">
<br>
    <label>What color sandwich panel do you want? </label>
    <select id="color" name="color"value="<%= @color %>">
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Send invitation</button>
  </form>

<script type="text/javascript">
$(function(){
$('select[id="color"]').simplecolorpicker();
//тут може бути любий javascript код який виконається після після загрузки сторінки
});
</script>
